.sideBar {
    position: fixed;
    height: 100%;
    width: 380px;
    overflow-y: auto;
    background-image:  linear-gradient(to bottom,#9291FB 100%,#8D98FB 85%,#74BCF7);
}

.sideBar::-webkit-scrollbar { width: 0 !important }

.sideBar .backBtn{
    position: fixed;
    left: 10px;
    text-align: left;
}

/* .sideBar::before {
    position : fixed;
    content: "";
    top:0;
    left: 0;
    height: 100px;
    width:380px;
    background-image:linear-gradient(to bottom, #AD6BFF, #958CFC );
    z-index: -1;
} */